.sidebar__container {
	position: sticky;
	top: 0;
	z-index: 999;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 1.5rem;
	margin-bottom: 2rem;

	background: rgba(255, 255, 255, 0.2);
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);

	nav {
		ul {
			display: flex;
			margin: 0;
			padding: 0;
			li {
				margin: 0 1rem;
			}
		}
	}
}
.nav__style {
	text-decoration: none;
	color: white;

	&:last-child,
	&:nth-child(1) {
		margin: 0;
	}
	&.active {
		color: $secondary-color;
	}
}
